/* LOGIN PAGE */

#login-con{
  background-color: white;
  border-radius: 5px;
  width: 300px;
  height: 400px;
  margin-left: 40%;
  margin-top: 10%;
  float: left;
  box-shadow: 2px 2px 15px 1px;
}

.login-background {
  background-image: url("../images/login-background.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  height: auto;
  background-size: 100% 100%;
  height: 100vh;
  width: 100%;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.login-con button{
  margin-left: 30%;
}

#login-con input {
  display: block;
  margin-left: 8%;
  width: 230px;
  margin-top: 25px;
}

#login_submit {
  display: block;
  margin-left: 8%;
  width: 230px;
  margin-top: 10px;
  height: 30px;
  background-color: #cc5500;
}

#login_highlight a{
  color: #cc5500;
}

/* ALL PAGES */

#profile-image{
  background-color: white;
  width: 20px;
  height: 20px;
  border-radius: 100px;
  border-color: gray;
  border-style: solid;
  float: left;
  margin-right: 10px;
  margin-top: 4px;
  margin-bottom: 5px;
}


/* HOME PAGE */

#company_name {
  color: white;
  margin-left: 10%;
  padding-top: 5%;
}

textarea {
  width: 100%;
  height: 120px;
}
 
@media (max-width: 576px) {
  #login-con{
    margin-left: 13%;
    margin-top: 22%;
  }
}

/* CATEGORY PAGE */

#category_title{
  color: black;
  width: 100%;
  margin-left: 41%;
  padding-top: 40px;
  padding-bottom: 50px;
}