.login-con{
  background-color: white;
  border-radius: 5px;
  width: 300px;
  height: 400px;
  margin-left: 60%;
  margin-top: 18%;
  float: left;
  box-shadow: 2px 2px 15px 1px;
}

.login-background {
  background-image: url("../images/login-background.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  height: auto;
  background-size: 100% 100%;
  height: 100vh;
  width: 100%;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.login-con button{
    margin-left: 30%;
}
/**
 * Body CSS
 */
 html,
 body {
   height: 100vh;
 }
 
 html,
 body,
 input,
 textarea,
 button {
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
   text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
 }
 
 
 /**
  * Sidebar CSS
  */
 #sidebar {
   background-color: green;
   padding: 15px;
 }
 
 @media (min-width: 768px) {
   #sidebar {
     position: fixed;
     top: 0;
     bottom: 0;
     width: 190px;
     height: 100%;
     padding-top: 30px;
   }
 }

#pic{
    background-color: white;
    height: 175px;
    width: 175px;
    border-radius: 50%;
    margin-bottom: 10px;
}

 #name{
     padding-bottom: 10px;
 }
 
 /**
  * Content CSS
  */
 @media (min-width: 768px) {
   #content {
     margin-left: 250px;
     padding-top: 100px;
     width: 1050px;
   }
   
 }

 ul {
    list-style: none;
    padding-top: 5px;
  }

  /**
  * AD CSS
  */
 

  @media (min-width: 768px) {
    #ad {
      background-color: blue;
      position: fixed;
      top: 0;
      bottom: 0;
      right: 0;
      width: 220px;
      height: 100%;
      padding-top: 30px;
    }
  }

