<!DOCTYPE html>
<html>
    <head>
       <meta charset="UTF-8">
        <link href="//cdn.muicss.com/mui-latest/css/mui.min.css" rel="stylesheet" type="text/css" />
        <script src="//cdn.muicss.com/mui-latest/js/mui.min.js"></script>
        <script src="//code.jquery.com/jquery-2.1.4.min.js"></script>
        <script src="{{ ('js/main.js') }}"></script>
        <link rel="stylesheet" href="{{ ('css/main.css') }}">
        <link rel="stylesheet" href="{{ ('css/header.css') }}">
        
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
                
        {% endblock %}
    </head>
    <body>

    <div id="sidedrawer" class="mui--no-user-select">
      <div id="sidedrawer-brand" class="mui--appbar-line-height">
        <span class="mui--text-title">Brand.io</span>
      </div>
      <div class="mui-divider"></div>
      <ul>
        <li>
          <strong>Category 1</strong>
          <ul>
            <li><a href="#">Item 1</a></li>
            <li><a href="#">Item 2</a></li>
            <li><a href="#">Item 3</a></li>
          </ul>
        </li>
        <li>
          <strong>Category 2</strong>
          <ul>
            <li><a href="#">Item 1</a></li>
            <li><a href="#">Item 2</a></li>
            <li><a href="#">Item 3</a></li>
          </ul>
        </li>
        <li>
          <strong>Category 3</strong>
          <ul>
            <li><a href="#">Item 1</a></li>
            <li><a href="#">Item 2</a></li>
            <li><a href="#">Item 3</a></li>
          </ul>
        </li>
      </ul>
    </div>
    <header id="header">
      <div class="mui-appbar mui--appbar-line-height">
        <div class="mui-container-fluid">
          <a class="sidedrawer-toggle mui--visible-xs-inline-block mui--visible-sm-inline-block js-show-sidedrawer">☰</a>
          <a class="sidedrawer-toggle mui--hidden-xs mui--hidden-sm js-hide-sidedrawer">☰</a>
          <span class="mui--text-title mui--visible-xs-inline-block mui--visible-sm-inline-block">Brand.io</span>
        </div>
      </div>
    </header>
    <div id="content-wrapper">
      <div class="mui--appbar-height"></div>
      <div class="mui-container-fluid">
        <main class="container">
             {% block body %}{% endblock %}
        </main>
        </div>
    </div>

    
    <div id="ad" class="mui-container-fluid">
            <div class="mui-row">
                AD!
            </div>
    </div>


    <footer id="footer">
      <div class="mui-container-fluid">
        <br>
        Made with ♥ by Git Goin
      </div>
    </footer>
        

        
        {% block javascripts %}{% endblock %}
    </body>
    
</html>
