<!DOCTYPE html>
<html>
    <head>
       <meta charset="UTF-8">
        <link href="//cdn.muicss.com/mui-latest/css/mui.min.css" rel="stylesheet" type="text/css" />
        <script src="//cdn.muicss.com/mui-latest/js/mui.min.js"></script>
        <script src="//code.jquery.com/jquery-2.1.4.min.js"></script>
        
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
                <link rel="stylesheet" href="{{ ('css/main.css') }}">
        {% endblock %}
    </head>
    <body>
        <main class="container">
             {% block body %}{% endblock %}
        </main>
        {% block javascripts %}{% endblock %}
    </body>
    
</html>
