{% extends "base.html.twig" %}

{% block title %}Ja no definitely - Home {% endblock %}

{% block body %}
<div>

    <!--Side Bar-->
   <div id="sidebar">
      <div id="pic"></div>
      <div id="name" class="mui--text-white mui--text-display1 mui--align-vertical">User Name</div>
      <div class="nav">
        <div class="mui-divider"></div>
        <ul>
          <li>
            <strong>Categories</strong>
            <ul>
              <li><a href="#">Item 1</a></li>
              <li><a href="#">Item 2</a></li>
              <li><a href="#">Item 3</a></li>
            </ul>
          </li>
          <li>
            <strong>Edit Profile</strong>
          </li>
        </ul>
      </div>
    </div>

    <!--Questions-->
    <div id="content" class="mui-container-fluid">
      <div class="mui-row">
        <div class="mui-col-sm-10 mui-col-sm-offset-1">
        
          <div class="mui--text-black-54 mui--text-body2">Category</div>
          <div class="mui-divider"></div>
          <br>
          <div class="mui--text-headline test">Question</div>
          <div class="mui--text-black-54">Asked By <a href="#">User Name</a> x days ago</div>
          <div> Question Text </div>
          <div> <a>See answers</a> </div>
          <br>

          <div class="mui-divider"></div>
          <br>
          <div class="mui--text-headline">Question</div>
          <div class="mui--text-black-54">Asked By <a href="#">User Name</a> x days ago</div>
          <div> Question Text </div>
          <div> <a>See answers</a> </div>
          <br>

          <div class="mui--text-black-54 mui--text-body2">Category</div>
          <div class="mui-divider"></div>
          <br>
          <div class="mui--text-headline">Question</div>
          <div class="mui--text-black-54">Asked By <a href="#">User Name</a> x days ago</div>
          <div> Question Text </div>
          <div> <a>See answers</a> </div>
          <br>
          
      </div>
    </div>

    {# ads #}
  <div id="ad" class="mui-container-fluid">
      <div class="mui-row">
        AD!
    </div>
</div>

</div>
{% endblock %}