{% extends "base.html.twig" %}

{% block title %}Ja no definitely - Home {% endblock %}

{% block body %}
<div>

     <!--Profile-->
    <div id="content" class="mui-container-fluid middle-con">
      <div class="mui-row">
        

         <ul class="mui-tabs__bar mui-tabs__bar--justified">
          <li class="mui--is-active"><a data-mui-toggle="tab" data-mui-controls="pane-justified-1">About me!</a></li>
          <li><a data-mui-toggle="tab" data-mui-controls="pane-justified-2">Posts</a></li>
          <li><a data-mui-toggle="tab" data-mui-controls="pane-justified-3">Settings</a></li>
        </ul>
        <div class="mui-tabs__pane mui--is-active" id="pane-justified-1">About me</div>
        <div class="mui-tabs__pane" id="pane-justified-2">Posts</div>
        <div class="mui-tabs__pane" id="pane-justified-3">Settings</div>
    </div>
{% endblock %}